body {
    font-family: sans-serif;
}

header {
    display: inline-block;
}

nav {
    display: inline-block;
}

article {
    width: 100%;
    border-top-color: black;
    border-top-width: 1px;
    border-top-style: solid;
}

nav li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    border-left-color: black;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-color: black;
    border-right-width: 1px;
    border-right-style: solid;
}

footer {
    width: 100%;
    border-top-color: black;
    border-top-width: 1px;
    border-top-style: solid;
}

body.index {
    text-align: center;
}

body.index header {
    font-size: xx-large;
    display: block;
}

body.index nav ul {
    display: block;
    padding-left: 0;
}

body.index article {
    border-top-style: unset;
}

body.index footer {
    margin-top: 30px;
    border-top-style: unset;
}
